{% extends 'usercenter-base.html' %}
{% block title %}My course{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">Home</a>></li>
                <li><a href="/user/home/">Personal Center</a>></li>
                <li>My course</li>
            </ul>
        </div>
    </section>
{% endblock %}

    {% block left_content %}
	<div class="left">
        <ul>
            <li ><a href="{% url 'users:user_info' %}">My Info</a></li>
            <li class="active2"><a href="{% url 'users:mycourse' %}">My Courses</a></li>
            <li ><a href="{% url 'users:myfav_org' %}">My Favourite</a></li>
            <li >
                <a href="{% url 'users:mymessage' %}" style="position: relative;">
                    My Messages
                </a>
            </li>
        </ul>
	</div>
    {% endblock %}

{% block right_content %}
    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>My Courses</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">
                    {% for user_course in user_courses %}
                    <div class="module1_5 box">
                            <a href="{% url 'course:course_detail' user_course.course.id %}">
                                <img width="214" height="190" class="scrollLoading" src="{{ MEDIA_URL }}{{ user_course.course.image }}"/>
                            </a>
                            <div class="des">
                                <a href="{% url 'course:course_detail' user_course.course.id %}"><h2>{{ user_course.course.name }}</h2></a>
                                <span class="fl">Time：<i class="key">{{ user_course.course.learn_time }}</i></span>
                                <span class="fr">Clicks：{{ user_course.course.students }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ user_course.course.course_org.name }}</span>
                                <span class="star fr  notlogin" data-favid="15">{{ user_course.course.fav_num }}</span>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}


